:root {
    --light-gray-color: #EBEEF2;
    --grey-color: #C5D0DB;
    --grey-100-color: #939393;
    --light-blue: #DAE2EA;
    --light-100-blue: #CACED9;
    --blue-color: #2787F5;
    --radius: 4px;
    --duration: .5s;
}
